# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Datasets
nyc-taxi-trip-duration/train/
nyc-taxi-trip-duration/test/
nyc-taxi-trip-duration/sample_submission/

*.csv

# Models (optional)
*.pkl
*.joblib
*.h5
*.pt
*.pth
*.onnx

# Outputs
outputs/
results/
checkpoints/

# Secrets
.env
.env.*